.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 4px 8px 4px 8px;
}

/* End Reduce vertical spacing */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  font-size: 0.7em;
}

div.dtsp-panesContainer {
  font-size: 1em;
}

.truncate {
  max-width:50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-mini {
  max-width:25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


table.dataTable.dtr-inline.collapsed > tbody > tr > td.details-control:first-child:before { display: none;}
table.dataTable th, table.dataTable td { white-space: normal; }
.child {table-layout:fixed} .child td {word-wrap:break-word; white-space: normal !important;}


#container {
  display: none;
  text-align: center;
}




/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 30%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}

